/* Style the container for the search form */
#searchForm {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Style the labels and inputs */
#searchForm label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

#searchForm input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Style the button */
#searchForm button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#searchForm button:hover {
  background-color: #0056b3;
}

/* Style paragraph elements */
#searchForm p {
  margin-bottom: 20px;
}

div#error {
  color: #f7747f;
  font-size: 1.5em;
}

div#userDetails {
  background-color: rgb(241, 235, 235);
  padding: 10px;
}
