/* Default styles */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Light Theme */
.light {
    background-color: lightgray;
    color: black;
    border: 1px solid #ccc;
    padding: 20px;
    width: 250px;
    height: 250px;
    margin: 20px;
}

/* Dark Theme */
.dark {
    background-color: black;
    color: white;
    border: 1px solid #444;
    padding: 20px;
    width: 250px;
    height: 250px;
    margin: 20px;
}
