.container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.loading{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners */
}

.image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  height: 50%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners */
}

.nav-button {
  transform: translateY(-50%); /* Center vertically */
  background-color: rgba(0, 0, 0, 0.3); /* Transparent black background */
  color: white; /* Icon color */
  border: none; /* Remove default button border */
  font-size: 24px; /* Icon size */
  padding: 10px 15px;
  cursor: pointer;
  opacity: 0.7; /* Semi-transparent */
  transition: opacity 0.3s; /* Smooth hover transition */
  z-index: 10; /* Ensure buttons are above images */
}

.left-button {
  position: absolute;
  left: 10px;
}

.right-button {
  position: absolute;
  right: 10px;
}

img {
  width: 100%;
  height: 100%;
}

.circle-button {
  width: 20px; /* Set the width of the button */
  height: 20px; /* Set the height of the button */
  border-radius: 50%; /* Make it circular */
  background-color: #bed5f3; /* Button background color */
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor to pointer */
  display: flex; /* Center the text */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s; /* Transition effect */
  margin: 5px;
}

.buttons-group {
  position: absolute;
  bottom: 10px;
  display: flex;
}

/* Optional: Add a hover effect */
.circle-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.active-button{
    background-color: rgb(31, 31, 244);
}
